[2020-02-07 17:44] philipbaileynar opened #3 "Import Idaho Max Drainage Areas"
Import Wally's CSV file that lists the MaxDrainage area thresholds for each Idaho HUC8 into the master copy of the BRAT SQLite database.

This is needed for two reasons:

1. Allow us to run Idaho HUCs through the new BRAT and compare the results with Wally's results.
1. Compare these MaxDrainage area thresholds with Morgan's values.

[2020-02-07 17:55] philipbaileynar opened #4 "Compare Morgan and Wally's MaxDrainageArea Thresholds"
Wally calculated the MaxDrainageArea thresholds by hand for each Idaho HUC. We have these as a CSV file identified by HUC. See the separate task (#3) of importing them into the master BRAT SQLite database.

On 20th Jan 2020, Morgan emailed Philip a set of NHDPlus HR `ReachCode` of places where the stream width exceeds 20m in each CRB HUC.

1. Write a script that looks up each ReachCode that Morgan

[2020-02-07 18:06] philipbaileynar opened #5 "VBET"
We immediately need a VBET polygon for each CRB HUC. This is [used as part of the conservation routine in BRAT Build](https://github.com/NorthArrowResearch/pyBRAT4/blob/master/conflict_attributes.py#L41) from each reach to the nearest place where transportation occurs in the valley bottom.

VBET also has TONS of uses for other riverscapes analysis. Done well, it's something that we can definitely

[2020-02-07 19:23] philipbaileynar opened #7 "BRAT Calculate Report"
BRAT Calculate should produce some kind of summary report describing the results of the run. BRAT 3.0 does this by producing Excel spreadsheets. I propose we do this in a more generic way as a HTML report, perhaps using MatPlotLib visualizations.

I have started a [report](https://github.com/NorthArrowResearch/pyBRAT4/blob/master/report.py) Python script where this can live.

[2020-02-07 19:25] philipbaileynar opened #8 "Clear Database"
BRAT calculate should clear the contents of all output columns at the outset of the run in order to guarantee that when the process is finished the database only contains the contents of the latest run.

Ideally this SQL UPDATE command would be performed as part of the same transaction that writes the new results so that should anything go wrong the database rollback reverts all values to their or

[2020-02-15 19:39] philipbaileynar opened #16 "RAVE for BRAT"
Need to enhance RAVE with the necessary configuration to display both BRAT And RSContext projects.

[2020-02-15 19:41] philipbaileynar opened #17 "BRAT Build Metadata and Params"
Need to write BRAT Build parameters and metadata to both the project XML and also the [BRAT SQLite database](https://docs.google.com/drawings/d/10n2foT63oeTBO9hkPAuq_xW2FPjBUsl9zVn11opjEJY/edit?usp=sharing)

[2020-02-25 20:38] philipbaileynar opened #18 "Do we need input layers copied into every BRAT project?"
@joewheaton and @wally-mac  do we really need the input layers (DEM, slope drainage area raster, veg, NHD) copied into every single BRAT project? In the North American context we are always going to have a riverscapes context project that can be used in RAVE in conjunction with the BRAT results:

![Screen Shot 2020-02-25 at 12 36 57 PM](https://user-images.githubusercontent.com/8645379/75285466-88

[2020-02-25 21:52] joewheaton commented on #18
Well... "it depends". What do you mean by inputs copied into every project?  If what you're asking me is the input context (i.e. access to display those layers in web map or in RAVe) important, and the only way you let me do that is having it in my BRAT riverscapes project, then YES! I need it and I don't care how big the file is. However, if you take my _many_ previous suggestions that a Riversca

[2020-02-25 22:03] joewheaton commented on #18
Hey another thought for you... I can dig it up in BRAT stuff. Let me add those context layers easily with button for context....

[2020-02-27 21:41] MattReimer opened #19 "VBET GDAL stuff"
### build a VRT

[code]

[code]

### running gdal_polygonize.py

[code]

<https://gdal.org/programs/gdal_polygonize.html>

[code]

## Smooth the polygon

[code]

[2020-03-04 00:27] #19 closed

[2020-03-19 23:33] philipbaileynar opened #20 "VBET Cartography Improvements"
Please implement the following improvements to the curated VBET web map.

1. Add a new base map that is simply a topographic hillshade using grey scale.
1. Make the aforementioned hill shade the default base map (keep the satellite imagery and topo base maps as options).
1. Change the symbology of the VBET valley bottoms as:
    1. solid green outline.
    1. Semi transparent green fill. (The idea

[2020-03-20 16:54] MattReimer commented on #20
the base map as a hillshade is tricky because, right now anyway, I don't have a raster tileset for the whole country.

We can fake it with vector tiles from mapbox
https://studio.mapbox.com/styles/raychaser/ck80etogs05yl1inb7etenuq7/edit/#10.02/36.0009/-111.9055

But I'm not sure this is going to cut it.

[2020-03-20 17:35] MattReimer commented on #20
Improvements have been made:
https://riverscapes.github.io/rs_maps/#/VBET

[2020-03-20 17:35] #20 closed

[2020-03-25 17:06] MattReimer opened #21 "BRAT Run needs to update project.rs.xml"
we need the project file to change because this is how the warehouse knows there has been activity.

I suggest we add as much MetaData as is useful. Anything you'd conceivably want to know from the web interface.

* Date Run
* Time taken
* Any special warnings or messages (not sure about this one)
* .... etc

This is likely going to need an argparse parameter so we can find the project file (maybe

[2020-03-25 17:09] MattReimer commented on #21
huh. Looks like I started work on this already. Must have done it in my sleep.

Feel free to do it differently.

https://github.com/Riverscapes/sqlBRAT/blob/master/brat_run.py#L169

[2020-04-24 15:13] philipbaileynar opened #22 "Write Watershed Name to Project XML during BRAT Build"
BRAT Build needs to write the watershed name to the project.rs.xml during the BRAT build process. This should be an easy task. The code can simply get this from the BRAT template SQLite database.

[2020-04-24 15:14] philipbaileynar commented on #16
The first version of this is done. Shortcomings should be logged as new issues.

[2020-04-24 15:14] #16 closed

[2020-04-24 15:15] philipbaileynar commented on #5
A first version of VBET is operational. Code and issues now have their own repo:

https://github.com/Riverscapes/vbet

[2020-04-24 15:15] #5 closed

[2020-04-24 15:16] philipbaileynar commented on #3
This is done. Geoff Stevens is also comparing sqlBRAT with Idaho BRAT.

[2020-04-24 15:16] #3 closed

[2020-04-24 15:16] philipbaileynar commented on #4
I never got to this and now Geoff Stevens work to calibrate CRB BRAT has superseded this task.

[2020-04-24 15:16] #4 closed

[2020-04-30 16:37] sshahverdian opened #24 "Include HUC10 and HUC12 with hydrology"
## The Problem
The hydrology folder in a RS context project has the watershed boundaries for HUC2 - HUC8. It would be useful to also have the HUC10 and HUC12 for cartography purposes, and to use as a mask to clip the HUC8 rasters to make processing times faster when in Arc, rather than loading the HUC8 data for any/all processes.

[2020-04-30 17:12] joewheaton opened #23 "Flow accumulation layer not accounting for upstream contributing area outside of HUC8"
From @sshahverdian and moved here from: [RAVE](https://github.com/Riverscapes/RaveAddIn/issues/17):

Data set: MiddleBear (ID) HUC8 16010202 RSContext. The flow accumulation layer does not account for upstream contributing area outside of the HUC8 boundary. The result is that portions of the mainstem Bear river which should have a very large contributing area are identified as having very small co

[2020-04-30 17:16] joewheaton commented on #23
Excellent catch @sshahverdian. This is something that @wally-mac and crew figured out a fix for in [PyBRAT (raised in Issue 19)](https://github.com/Riverscapes/pyBRAT/issues/19). @philipbaileynar can you look at pyBRAT to see what Bangen did to [fix this]( https://github.com/Riverscapes/pyBRAT/commit/38b103fd5ae1246f07e919cfeba776c6a5c2f7f4) and as ask @wally-mac if you have any questions.

I thin

[2020-04-30 17:18] philipbaileynar commented on #23
@sshahverdian are you trying to display the catchment area cartographically or simply calculate total drainage area for each reach?

Note that the riverscapes context project uses NHDPlusHR which comes with total drainage area pre-calculated. See the TotDASqKm field in the NHD flow lines ShapeFile.

[2020-04-30 17:21] joewheaton commented on #23
@philipbaileynar I hear you on:

But that is too narrow a use case. Anything we have should be correct and the more generic implementation of sqlBRAT and other models will need this (i.e. becuuse they don't have NHD PlusHR, or even if they do we move it OFF the line.

 However, this needs to be fixed because:

[2020-04-30 17:23] philipbaileynar commented on #23
This requires a voice conversation. There are too many ideas racing around.

[2020-04-30 18:10] #24 closed

[2020-04-30 19:42] philipbaileynar commented on #24
@sshahverdian I have re-run the riverscapes context project for 16010202 and it now includes HUC10 and HUC12 boundaries. Please download the latest copy and let me know if this works for you.

Note that while the project contains the new ShapeFiles, they won't be visible in the RAVE project explorer yet. You will need to add them manually using ArcCatalog or "Add to Map" button in ArcGIS.

[2020-04-30 22:29] sshahverdian commented on #24
@philipbaileynar Got it. Thanks.

[2020-05-01 03:58] philipbaileynar opened #25 "Ownership ShapeFile not referenced in project.rs.xml"
The ownership ShapeFile is being generated correctly, but it is not getting referenced in the riverscapes project. Cashe Rasmussen noticed this when he tried to incorporate this ShapeFile into the RAVE business logic.

[2020-05-01 14:42] philipbaileynar opened #26 "Test new hydrologic equations for 16010202"
@MattReimer can you please test the following hydrologic equations work in BRAT Build and BRAT Run for HUC 16010202. This is the only HUC that needs to be run. The Riverscapes Context project has already been run and is stored in the Anabranch program in the data warehouse. You do **not** need to upload the BRAT project when you are done. Just confirm that the equations, values and units below all

[2020-05-01 15:39] MattReimer commented on #26
* `DAsqm` is the right unit
* F === FOREST I think and that's just a percentage so it should be fine??
* but `P` and `E` will need a conversion.

P and E get converted in the software so my suggestion would be to add another conversion factor to the equation

Something like

[code]

I need to double check those conversions but you get the idea.

[2020-05-01 15:57] MattReimer commented on #26
There doesn't seem to be anywhere I can find where the units for these parameters are docu

[2020-05-04 16:38] MattReimer commented on #26
THis was just for last friday. Closing it.

[2020-05-04 16:38] #26 closed

[2020-05-04 20:12] joewheaton opened #27 "Found it... data capture - still scary?"
Hey @philipbaileynar. I found the [data capture post in pyBRAT](github.com/Riverscapes/pyBRAT/issues/31). It is fairly specific to capturing dam observations.  Not sure, but thought I'd ask you to have a look and see what you think.

[2020-05-04 20:22] philipbaileynar commented on #27
Nothing scary. Ultimately I think a dynamo database for riverscapes point observations of all types. I suggest dynamo because it stores objects as simple JSON data objects. Each record can have different attributes. So storing beaver activity and vegetation validation in the same database is possible. Also, it allows for attributes to change over time as the protocol evolves. This central store co

[2020-05-05 19:19] joewheaton opened #28 "A Hint on Veg layers from RCAT?"
So I was in over in [RCAT seeing how it did in RAVE](https://github.com/Riverscapes/RCAT/issues/24), and discovered that for one of the old ETAL RCAT RS Projects, the existing cover was coming in with symbology preserved through RAVE.  May be worth exploring why @philipbaileynar.

![image](https://user-images.githubusercontent.com/9723905/81106524-061c8f00-8ed3-11ea-807a-d1733bde4aca.png)

Video:

[2020-05-06 00:05] philipbaileynar commented on #28
I don't think so. I checked and RAVE definitely has no symbology for veg. Unless you accidentally have some in %AppData%

What I think is going on here is raster [side car files](https://en.wikipedia.org/wiki/Sidecar_file). I suspect there's a lookup table DBF or other file beside the raster together with some color palette information that tells ArcGIS to use that info as the default symbology.

[2020-05-06 00:08] philipbaileynar commented on #23
I'm closing this issue. HND Plus HR has the correct total drainage area attribute for each reach that does indeed account for upstream flow area (upstream of the HUC in question).

We do also include a drainage area raster for Riverscapes Context, VBET and BRAT projects although it is never used for calculations.

[2020-05-06 00:08] #23 closed

[2020-05-06 03:29] joewheaton commented on #28
Okay... I will take a closer look.

[2020-05-11 18:49] joewheaton opened #29 "RS Context Question - Ecoregions"
In the National Dataset there are USA Ecoregions are in there.  Can these added to the Riverscapes Context for the watershed please?

[2020-05-13 16:46] philipbaileynar opened #30 "Observations And Electivity Metrics"
I have started to incorporate USUs observation dataset into the National Project and then feeding it into BRAT Build so that each BRAT project contains just the subset for the particular HUC8.

This work needs to be finished and then the data used in an updated version of the [pyBRAT 3 electivity metrics](https://github.com/Riverscapes/pyBRAT/blob/0a9b5386302a4447998a80cd3150aef5c5b57d08/Capacity_

[2020-05-13 16:49] philipbaileynar commented on #25
This was completed as part of 70e0a89

[2020-05-13 16:49] #25 closed

[2020-05-13 17:03] philipbaileynar opened #31 "Include Vegetation Suitability Rasters in Output"
The sqlBRAT vegetation suitability calculation is extremely efficient because it does not do any spatial calculations. It simply retrieves vegetation suitabilities directly from the SQLite database.

The problem is that a user reviewing a sqlBRAT run cannot visualize the distribution of vegetation suitabilities spatially in a map. @mhallerud and @wally-mac both report that reviewing the spatial di

[2020-05-14 03:23] wally-mac commented on #31
@philipbaileynar thanks for queing this up. @mhallerud and I will address this this week. Thank you.

[2020-05-14 22:39] philipbaileynar opened #32 "Cache Science Base URLs"
Our use of Science Base is brittle for two reasons:

1. We rely on finding items in Science Base using metadata tags. This approach fails when items have incorrect metadata tags. For example, all NHD Plus HR datasets in Science Base have the place tag of `HU4_XXXX` where `XXXX` is the four digit HUC code. In the case of HUC 1002 this tag is missing and we are unable to find the dataset.
1. Science

[2020-05-14 23:15] philipbaileynar opened #33 "iPC_Privat database column not exported to ShapeFile in BRAT Run"
sqlBRAT is calculating the `iPC_Privat` column in the database but this value is not getting exported to the ShapeFile during BRAT Run.

[2020-05-14 23:18] #33 closed

[2020-05-14 23:40] philipbaileynar opened #34 "Riverscapes Context Metadata"
There is literally zero metadata for any of the layers in the Riverscapes Context project file. Each layer should have a metadata sub element with information describing where the data were obtained etc. (Note that RAVE has a [feature request for displaying this information](https://github.com/Riverscapes/RaveAddIn/issues/27)).

Most of the data that we import into the project come with some form

[2020-05-19 07:27] joewheaton commented on #34
@philipbaileynar... while I will resist urge to properly comment, can you and @wally-mac please assign this to someone (e.g. @mhallerud or @tyler1218hatch  or @Cashe93) to figure out for every `project_rs.xml` `<inputs>`, `<intermediates>` and `<output>` under `<realizations>` what meta data should be there. I will say @kbartelt has a nice example in her https://github.com/Riverscapes/inundation p

[2020-05-19 17:22] wally-mac commented on #34
@Cashe93 <https://github.com/Cashe93> you've had some experience with
metadata so I'm assigning this to you. Hit me up with any questions you
might have. Thanks!

On Tue, May 19, 2020 at 1:27 AM Joe Wheaton <notifications@github.com>
wrote:

--
Wally Macfarlane
435.512.1839

[2020-05-19 18:55] MattReimer commented on #34
just a little note that I've started sketching out a few enhancements to the XSD that would potentially let us do things a little more intelligently in the MetaData

https://github.com/Riverscapes/RiverscapesXML/issues/10

[2020-05-19 20:42] joewheaton opened #35 "UK BRAT - Merge back into sqlBRAT"
Hugh Graham (@h-a-graham) just published the UK BRAT or BDC (beaver dam capacity) model and a new BFI (beaver foraging index). Both are based off of the [pyBRAT](https://brat.riverscapes.xyz).

[Graham et al. - 2020 - Modelling Eurasian beaver foraging habitat and dam.pdf](https://github.com/Riverscapes/sqlBRAT/files/4652972/Graham.et.al.-.2020.-.Modelling.Eurasian.beaver.foraging.habitat.and.dam.

[2020-05-20 07:00] h-a-graham commented on #35
Hello All,

Thanks Joe for setting up the issue, I'd love to contribute here to merge the project back together again. The repo that Joe has shared is the version used for the paper which does still have a sprinkling of arcpy in there but I was having some issues when using this version nationally so I have since moved to this workflow:

[https://github.com/h-a-graham/BDC_V1.2 ]

Here, the BDC par

[2020-05-21 00:24] joewheaton commented on #35
Hey @h-a-graham, thanks for detailed responses on all this. I look forward to what @philipbaileynar and @wally-mac have to say too.  As you say, we can discuss nitty gritty when we pin down time.

In response to:

Right now sqlBRAT is in a beta version of a [production grade tool](https://riverscapes.xyz/Tools/). By contrast, the old pyBRAT was an operational grade tool (see this [report card](htt

[2020-05-21 18:17] Cashe93 opened #44 "BRAT iGeo_Validation"
**Passed:**
iGeo_ElMax
iGeo_ElMin
IsPeren

**Failed:**
iGeo_Slope
TotDASqKm
iPC_Road
iPC_RoadX
iPC_RoadVB
iPC_Rail
iPC_RailVB
iPC_DivPts
iPC_Canal
Agency --> all entries for sqlBRAT are blank

[Google Sheet] https://docs.google.com/spreadsheets/d/1NerNqb4U6uffCRo7g8uljmrqGKKgrWq9xpFj44QLEyc/edit?usp=sharing

[BRAT iGeo Validation.xlsx](https://github.com/Riverscapes/RaveAddIn/files/4664031/BRAT.iG

[2020-05-21 20:28] MattReimer opened #36 "BRAT Validation Issues"
Based on a call we had with @mhallerud and @wally-mac

### Possible unit problems in the equations

[code]

here's an excerpt from the DB

[code]

Here's the code that drives this:
https://github.com/Riverscapes/sqlBRAT/blob/master/hydrology.py#L91-L96

Maggie sent some reference images.

<img width="732" alt="Screen Shot 2020-05-21 at 1 25 03 PM" src="https://user-images.githubusercontent.com/106

[2020-05-21 22:50] philipbaileynar commented on #36
This is the equation that we are using for low flow in Station Creek (16010202):

[code]

Earlier today we confirmed that the terms use the following units:

* DRNAREA in square miles
* ELEV in feet
* FOREST as a percent
* PRECIP in inches

My ultimate question for @mhallerud is whether the value 0.3861021585424458 is from the cited USGS publication or whether this is an attempt to convert from dr

[2020-05-21 23:38] mhallerud commented on #36
@philipbaileynar Not sure why there are extra digits, but yes the purpose of that value is converting from square kilometers to square miles.

[2020-05-22 00:40] philipbaileynar commented on #36
@mhallerud was the conversion factor in the literature? Or was it added by ETAL to convert from our source data?

[2020-05-22 00:54] mhallerud commented on #36
@philipbaileynar It was added by us, the literature just specified that drainage area was in square miles.

[2020-05-22 03:36] philipbaileynar opened #38 "Agency field is null in BRAT ShapeFile"
@Cashe93 has reported that the Agency column in the BRAT ShapeFile is always NULL.

[2020-05-22 19:55] philipbaileynar commented on #38
This was a nice find by @Cashe93. It was caused because the AgencyID and Agency fields were specified as outputs of BRAT Run, when in fact these columns are outputs of BRAT Build.

At the start of BRAT Run the code was setting all output fields to NULL, including the Agency field. But because the Agency field is not calculated during BRAT Run it was staying NULL and never repopulated.

The solutio

[2020-05-22 19:55] #38 closed

[2020-05-23 03:29] philipbaileynar opened #39 "Unnecessary vegetation overrides"
Someone has added several vegetation overrides into the database that are exactly the same as the defaults. These don't need to be in the database and can be deleted.

@mhallerud did you enter these or was it Geoff?

<img width="963" alt="Screen Shot 2020-05-22 at 8 27 34 PM" src="https://user-images.githubusercontent.com/8645379/82720698-d14a5f00-9c6a-11ea-8c72-93fde29d0ef3.png">

[2020-05-23 03:35] philipbaileynar commented on #32
Closing this issue because USGS has been fixed the missing Science Base metadata tags in fast order. If they continue to be this responsive then we can continue to rely on Science Base.

We got part way through implementing hard coded paths. This work was left on branch `ScienceBase`.

Here's the response from USGS:

[2020-05-23 03:35] #32 closed

[2020-05-23 05:19] mhallerud commented on #39
@philipbaileynar I only changed values for the Middle Bear (associated with the Northern Basin and Range ecoregion), so it must have been Geoff.

[2020-05-26 14:56] philipbaileynar opened #40 "BRAT Report CSS"
I have made a start at a simple BRAT report that gets produced with every BRAT **run** (not build).

@MattReimer can you please implement some really simple CSS to de-ghastly-fy this ugly mess. I have put the raw HTML in a gist. This is so that you can implement CSS classes or include other info that I can then incorporate into the code that generates this report.

https://gist.github.com/philipba

[2020-05-26 19:53] philipbaileynar opened #41 "Review BRAT Run FIS"
The FIS processes in BRAT Run take a surprisingly long time when there are 20,000 or so reaches in a watershed.

Pleasae review both the [vegetation FIS](https://github.com/Riverscapes/sqlBRAT/blob/master/vegetation_fis.py) and [combined FIS](https://github.com/Riverscapes/sqlBRAT/blob/master/combined_fis.py) code for any easy performance gains. These two routines are virtually identical in struct

[2020-05-26 20:42] #40 closed

[2020-05-27 00:07] philipbaileynar opened #43 "Incorporate TNMFRC NTD attribute"
Make sure that brat is copying over the `TNMFRC` attribute when building the riverscapes context transportation layer.

The goal is to retain this field from the original National Transportation Dataset download and carry it forward into both Riverscapes Context and BRAT projects. This field is the key attribute used to symbolize different road types in RAVE.

[2020-05-27 17:06] MattReimer commented on #41
So here's what we've got. There are two main loops that affect the FIS in BRAT Run:
* [Vegetation FIS Loop](https://github.com/Riverscapes/sqlBRAT/blob/master/vegetation_fis.py#L145-L161)
* [Combined FIS Loop](https://github.com/Riverscapes/sqlBRAT/blob/master/combined_fis.py#L219-L247)

### Vegetation FIS Loop

[code]

so, each tick in the loop takes 9ms.

### Combined FIS Loop

[code]

This one

[2020-05-27 17:08] MattReimer commented on #41
As of this investigation there really isn't much we can do to speed the FIS step up so I'm closing this.

[2020-05-27 17:08] #41 closed

[2020-05-27 17:12] MattReimer commented on #41
Just for completeness I should mention that parralellization could speed this up too but that would entail augmenting our tool to be able to handle threads.

[2020-05-28 15:35] philipbaileynar commented on #36
## Hydrology
The problems with hydrology were caused by several unit conversion errors. I have simplified this greatly and am now getting comparable discharge and stream power values with pyBRAT.

![high_stream_power](https://user-images.githubusercontent.com/8645379/83161740-affbcf80-a0bd-11ea-931d-a8bc10df3a16.png)

## Vegetation
sqlBRAT was consistently under reporting the vegetation suitabilit

[2020-05-28 15:38] philipbaileynar commented on #31
I have tweaked the SQL that generates these rasters. I have also reviewed the rasters in RAVE and they are exactly what we need! Thanks.

[2020-05-28 16:42] joewheaton commented on #36
Really nice work all.... This is getting closer. At a cursory glance, almost everything in sqlBRAT that is red, which is orange in pyBRAT are canals. Any thoughts?

[2020-05-28 17:09] wally-mac commented on #36
@philipbaileynar wow, this looks so much better! Nice work troubleshooting the hydrology and the veg. @philipbaileynar @joewheaton  Do you guys have suggestions on how to further investigate the differences especially in the "central" portion of the watershed. Is this sqlBRAT run now available in the warehouse? @philipbaileynar @joewheaton If you guys think it's a good next step @Cashe93 let's int

[2020-05-28 17:11] philipbaileynar commented on #36
@wally-mac yes this latest version of middle bear is in the Anabranch warehouse.

I welcome any investigation that @Cashe93 can perform that sheds light.

I'm curious about @joewheaton "canal" comment and will investigate also.

[2020-05-28 17:23] Cashe93 commented on #36
Sounds good @wally-mac. Nice work @philipbaileynar!

[2020-05-28 17:25] philipbaileynar commented on #36
Here is a video demonstrating the new BRAT report that is produced with every sqlBRAT run. The goal is to make the inner workings and results of sqlBRAT more transparent. I know some folks are not yet comfortable with SQL databases, so this report gets important results into an easily accessible HTML format that anyone can view in a web browser to investigate a BRAT run.

https://youtu.be/aLsDlcYW

[2020-05-28 17:54] wally-mac commented on #36
@philipbaileynar Thank you for generating the BRAT report. I watched the video and found the report very useful. I agree, I think a report like this would be great to have for each of our tools. Thank you!

[2020-05-28 20:39] philipbaileynar commented on #39
Closing this issue because it doesn't affect the performance of the model. I just wanted clarification. Thanks.

[2020-05-28 20:39] #39 closed

[2020-05-29 01:04] joewheaton commented on #36
More importantly, what @philipbaileynar just made is easy enough that @tyler1218hatch or @Cashe93 could implement. Really powerful. It needs us to really think about exactly what we want to show and graph, but super cool. @kbartelt may like too.

[2020-05-29 04:08] philipbaileynar commented on #35
sqlBRAT was conceived and architected with the specific goal of making it easy to implement in jurisdictions other than North America. All references to US terms like "HUC" and "FCode" were removed. All lookup data were centralized into a [simple relational database](https://riverscapes.github.io/sqlBRAT/Technical_Reference/database.html) that should be easy to document and teach others how to pop

[2020-05-29 04:09] philipbaileynar commented on #17
Note that the parameters are now writing to the database (and getting incorporated into the BRAT report).

[2020-06-01 02:08] philipbaileynar commented on #36
Closing this issue now that the core task of getting sqlBRAT to produce comparable results to pyBRAT. Any subsequent validation issues should use a new issue. Refer back to this issue if relevant.

[2020-06-01 02:08] #36 closed

[2020-06-01 02:09] philipbaileynar commented on #21
@MattReimer what's the status on this please?

[2020-06-01 02:12] philipbaileynar commented on #18
Closing this issue. RAVE is demonstrating the value of having all the layers in BRAT. Once things quieten down we can perhaps pursue using references to the riverscapes context projects instead. But I think this should be punted down the road until desktop RAVE has download capability (i.e. it can resolve references). Closing for now. Reopen if this becomes a priority.

[2020-06-01 02:12] #18 closed

[2020-06-01 02:13] philipbaileynar commented on #17
Closing this issue now that parameters are at least making their way into the BRAT report and that that report shows up in RAVE for easy review.

[2020-06-01 02:13] #17 closed

[2020-06-01 02:18] philipbaileynar commented on #7
Outstanding items on the report:

* [ ] Vegetation
* [ ] Existing Dam Capacity
* [ ] Historic Dam Capacity
* [ ] Dam Capacity base on Vegetation

[2020-06-01 02:19] philipbaileynar commented on #22
This is working now!

[2020-06-01 02:19] #22 closed

[2020-06-01 02:28] philipbaileynar opened #45 "LandFire Vegetation Attribute Table"
We need to include in the National Project a raster attribute table (VAT) for both the historical and existing vegetation rasters. This value attribute table needs to then get include in both the riverscapes context and BRAT projects. These VAT are vital for appropriate symbology in RAVE.

pyBRAT used these VAT for additional fields used during model calculations. For example vegetation suitabilit

[2020-06-01 16:49] MattReimer commented on #45
@philipbaileynar please attach CSV files and I'll take a look.

[2020-06-01 16:51] MattReimer commented on #29
I'm not going to clip this. Just filter them using attributes.

[2020-06-01 18:20] MattReimer commented on #21
[code]

these have been added. the main task was to get brat_run aware of the xml file. This proved harder than I thought. related to #37

[2020-06-01 18:20] #21 closed

[2020-06-01 19:46] philipbaileynar commented on #45
BTW @MattReimer this post looks useful

https://gis.stackexchange.com/questions/40958/python-gdal-and-building-raster-attribute-tables

[2020-06-02 00:54] Cashe93 opened #46 "Risk and Undesirable Dams"
The output for Risk and Undesirable Dams field appears to be invalid

[pyBRAT]
![pyBRAT](https://user-images.githubusercontent.com/49880208/83468051-ea0bff00-a438-11ea-92f9-95a35e727cd1.png)

[sqlBRAT]
<img width="1196" alt="sqlBRAT" src="https://user-images.githubusercontent.com/49880208/83468053-eaa49580-a438-11ea-945f-f9feaf83f5e8.png">

[2020-06-02 04:25] philipbaileynar commented on #45
I have put copies of the two VAT on the NAR Drive at:

[code]

[2020-06-04 20:43] MattReimer commented on #43
e098ab8 fixes this

[2020-06-04 20:43] #43 closed

[2020-06-05 03:08] MattReimer commented on #45
The National project has been augmented with RAT Tables. Despite being tricky to create a RATtable is just a sidecar file `FILENAME.tiff.aux.xml`

which looks something like this:

[code]

unfortunately QGIS isn't really set up to read the RAT table so we'll need to verify it in ESRI.

[2020-06-05 03:42] philipbaileynar commented on #45
Is there any functional difference between XML and dbf value attribute tables?

Does GDAL copy these files by default or do we need to manually move them around?

[2020-06-05 16:35] MattReimer commented on #45
I'm putting this here because the documentation about it is terrible and I got tired of trying to find it every time:

### RAT Column types

[code]

### RAT Column Usages

[code]

[2020-06-05 18:01] philipbaileynar commented on #45
@wally-mac can you please review this screenshot and confirm if it looks "right".

What follows is the LandFire 2.0.0 EVT raster with a new Raster Attribute TAble (RAT) that @MattReimer built. It's similar to the raster DBF files that USU has used in the past, but this version is actually XML. It's a sidecar file, so it simply sits next to the TIF file and has the same file name but with the suffi

[2020-06-05 19:55] #29 closed

[2020-06-05 20:02] MattReimer commented on #29
Ok. Couple of things to take note of here:

1. Had to reproject the ecoregions shapefile to WGS84 `NationalDatasets/ecoregions/us_eco_l3_state_boundaries.shp`

@philipbaileynar the national project has changed. A new zip is being rebuilt as we speak but it might take 15-20 minutes. You'll need the new ecoregions shapefile

2. `rs_context` now takes a new ecoregions parameter. Update your scripts a

[2020-06-06 01:42] joewheaton commented on #29
@philipbaileynar when this update is pushed to over-riden RS_Context projects, please task @Cashe93 with coming up with some ecoregion symbology layer files (should match below) and business logic in RS_Context. Nice one.

![image](https://user-images.githubusercontent.com/9723905/83933293-8f3e1480-a764-11ea-8fdc-7c3d23830322.png)

[2020-06-08 16:53] wally-mac commented on #45
@philipbaileynar just taking a quick look at the screen shot and one thing that jumps out at this scale is the amount of white cells (i.e non-classified landcover). I don't know if this is an error or not but I'm just surprised to see that much of it. Is this something you and @MattReimer could verify? Otherwise, looking at the symbology it appears to be the same we've used for our vegetation rast

[2020-06-08 19:13] philipbaileynar commented on #45
My bad @wally-mac . I provided @MattReimer with an incomplete lookup table. I'm working on providing @MattReimer  with a complete lookup file now.

[2020-06-08 21:24] philipbaileynar commented on #45
@wally-mac I cannot find a complete LandFire 2.0.0 EVT lookup table. The web site is terrible. Do you have a copy please? Any format would do. CSV, DBF, XML...

[2020-06-08 21:44] MattReimer opened #47 "Ensure propagation for RAT across sqlBRAT Tools"
We need to make sure that the new RAT for the vegatation models propagates across our tools correctly so they can be symbolized in RAVE

* [x] NationalProject => RSContext
* [x] RSContext => Brat

This is related to #45

[2020-06-08 21:58] #47 closed

[2020-06-08 22:39] wally-mac commented on #45
@philipbaileynar [here](https://usu.box.com/s/2qg797b7uw7ber1vw8y8d3cxqpcbiznw) is a link to the landfire 2.0.0 EVT DBF file that I found on box for the Idaho BRAT project.  I'm not sure if this will have all the landcover classes for the western US or not.

[2020-06-09 16:32] philipbaileynar commented on #45
@MattReimer I just ran the latest version of BRAT build and BRAT run. I did not get RATs next to the veg rasters in the BRAT inputs folder:

<img width="245" alt="Screen Shot 2020-06-09 at 9 32 37 AM" src="https://user-images.githubusercontent.com/8645379/84174984-2987ac00-aa34-11ea-90f3-798b27c438a8.png">

[2020-06-09 16:35] MattReimer commented on #45
Did you verify that RAT was there next to the original rasters in the NationalProject?

gdalWarp should copy the xmls over. There were no issues when I did it.

[2020-06-09 16:37] philipbaileynar commented on #45
My bad...

[2020-06-09 17:33] philipbaileynar commented on #45
@MattReimer I can confirm that the RATs got created in the BRAT project as part of BRAT build. Thanks.

[2020-06-10 23:19] #46 closed

[2020-06-10 23:23] philipbaileynar commented on #46
The good news is that there was a really simple bug that was mixing up risk and opportunity calculations. This was quick to fix. Now we are getting more varied results (see below).

This has highlighted a different problem that reaches with zero discharge (see canals in the central flat valley floor) are getting skipped during several processes. They end up with several zero values in the attribut

[2020-06-10 23:29] philipbaileynar opened #48 "Null Values in SQLite"
We work hard in sqlBRAT to avoid errors by only performing individual steps on those reaches that have the necessary inputs to undergo the step in question. i.e. We use SQL WHERE clauses to select reaches at the top of methods to exclude reaches that cannot undergo a certain step.

This is causing several fields to be NULL in the final database record. And when these records get exported to ShapeF

[2020-06-11 03:18] philipbaileynar commented on #46
I just overrode all NULL drainage area values with zero and now get this for risk:

<img width="477" alt="Screen Shot 2020-06-10 at 8 17 35 PM" src="https://user-images.githubusercontent.com/8645379/84341251-85972100-ab57-11ea-844f-0b727478224d.png">

[2020-06-11 16:27] #48 closed

[2020-06-11 16:34] philipbaileynar commented on #48
Some NHDPlusHR reaches possess NULL drainage area. This is typically the case for Canals. This has a cascading affect in BRAT...

- Null drainage area produce null hydrology
- Null hydrology produces null combined FIS capacity
- Null capacity produces null historical departure
- Null capacity and null historical departure produce null conservation values (risk, opportunities).

I have changed BRAT

[2020-06-11 17:41] philipbaileynar opened #49 "Report - Dam Capacity v Observations"
Missing from the BRAT capacity report section. These all need the observation data to work:

* [ ] Number of dams snapped -The total number of actual dams snapped to the network. [676](https://github.com/Riverscapes/pyBRAT/blob/master/Collect_Summary_Products.py#L675)
* [ ] Total Dam Count - The total number of actual dams. [676](https://github.com/Riverscapes/pyBRAT/blob/master/Collect_Summary_Pr

[2020-06-11 17:48] philipbaileynar opened #50 "Report - Density Calculations"
Table that bins certain hydrologic attribute values into three bins, then shows the mean dam density for each of those bins. This could possibly become a bar graph. [953](https://github.com/Riverscapes/pyBRAT/blob/master/Collect_Summary_Products.py#L953)

- Low Flow
- High Flow
- Stream Slope
- Stream Power Low
- Stream Power High

<img width="389" alt="Screen Shot 2020-06-11 at 10 47 09 AM" src="

[2020-06-11 21:42] philipbaileynar opened #51 "Report - Dam Size"
Existing/Historic Dam Complex Size [1035](https://github.com/Riverscapes/pyBRAT/blob/master/Collect_Summary_Products.py#L1035)

Table that bins segments and their lengths by existing/historic dam complex size

![Screen Shot 2020-06-11 at 2 40 50 PM](https://user-images.githubusercontent.com/8645379/84441949-8d0b0880-abf1-11ea-9332-3a0cab564a41.png)

@tyler1218hatch I get most of the existing pyBRA

[2020-06-11 22:19] philipbaileynar opened #52 "Dam Observation Reach Assignment"
One of the last tasks to implement in sqlBRAT is assigning actual dam observation data to reaches. I am curious how this was done in pyBRAT @wally-mac and @tyler1218hatch ?

I have all the observation data for each HUC stored in the BRAT database along with the reaches and I'm ready to assign each dam observation to a reach. My plan is to loop over all the observations in a watershed and buffer th

[2020-06-11 22:23] MattReimer commented on #52
Another method would be to set a maximum distance (i.e. anything greater than 1km is not useful) and just do geometry intersections on the small-ish number of objects inside the circle.

Unless there's some metadata on the dam observations we can use to link it.

[2020-06-11 23:33] wally-mac commented on #52
@MattReimer @philipbaileynar we have a well documented approach for dealing with dam census data and the validation process. I want to get ﻿ @tyler1218hatch ﻿ up to speed on this and have him provide you with the necessary documentation on how this is performed. Thanks!

[2020-06-11 23:34] tyler1218hatch commented on #50
@philipbaileynar
They're determined from the data. The bins are built so that exactly 1/3 of all reaches fall within each one. Essentially I just found the 33rd percentile and the 66th percentile and drew the boundaries there. Of course, if you want it to behave differently that's fine as well.

[2020-06-11 23:47] tyler1218hatch commented on #51
@philipbaileynar

This is a table summarizing the values of the mCC_EX_CT field. This and mCC_HPE_CT both represent capacity estimates. Unlike the fields that use units of density, this field uses dam counts. So if this field has a value of zero, we'd group that as having a capacity of no dams. If the field has a value of 1, we estimate the capacity to be a single dam. And so on.

In pyBRAT, this

[2020-06-11 23:50] tyler1218hatch commented on #52
@philipbaileynar @wally-mac I'll look into this right now and give you a write up on how this is performed!

[2020-06-12 00:52] tyler1218hatch commented on #52
@philipbaileynar  @wally-mac Most of my info is from the [BRAT documentation](http://brat.riverscapes.xyz/Documentation/Tutorials/9-DataValidation.html) and the [code itself](https://github.com/Riverscapes/pyBRAT/blob/master/Data_Capture_Validation.py).

The first step is to determine if you want to use a drainage area threshold.

**If no threshold is provided**, the dams are simply snapped to the

[2020-06-12 04:13] philipbaileynar commented on #45
Here is a web page that lists all the CSVs for various LandFire datasets. This was incredibly difficult to find!

https://www.landfire.gov/library_list.php?cat=1

I have also attached a zip containing the two vegetation type CSV files from this site that we need. It also contains the older Landfire 1.4.0 information too. But sqlBRAT only uses LandFire 2.0.0

* LandFire 2.0.0 Existing Vegetation Ty

[2020-06-12 15:29] #45 closed

[2020-06-12 15:29] MattReimer commented on #45
Wow. I even looked a bit myself and I wasn't able to find them

All 4 rasters have had their RATs updated. The ZIP file is building as we speak.

[2020-06-12 15:53] philipbaileynar commented on #7
Closing this issue because @tyler1218hatch provided an excellent summary of all the items that were in the pyBRAT excel summary worksheets and that should be migrated to sqlBRAT report. Tyler's suggestions are slowly being captured as separate issues.

[2020-06-12 15:53] #7 closed

[2020-06-12 15:56] philipbaileynar commented on #8
Each method that writes output to the database uses the `write_attributes()` method that has an optional argument for "set null first".

closing this issue because the goal is now achievable, and being performed where relevant.

[2020-06-12 15:56] #8 closed

[2020-06-12 15:59] philipbaileynar commented on #44
Closing this issue.

`Agency` is now fixed (so it `iPC_Privat` which was also accidentally getting set to NULL).

Yes, some of the values are quite different from pyBRAT, but they are in the right order of magnitude.

Several other calibration tasks have been completed since this task was performed, and now sqlBRAT is producing much more comparable results with pyBRAT.

We will keep the spreadshee

[2020-06-12 15:59] #44 closed

[2020-06-18 03:06] wally-mac commented on #51
@tyler1218hatch you explained this correctly

[2020-06-23 16:32] philipbaileynar opened #53 "BRAT Runs"
* BRAT CRB
    * [x] Lower Yakima 17030003
    * [ ] North Fork John Day 17070202
    * [x] Lemhi 17060204
* Anabranch
    * [ ] Upper Yampa 14050001
    * [x] Lower Yampa 14050002
    * [ ] Little Snake 14050003

And here's the same information as a JSON List:

['17030003',  '17070202', '17060204', '14050001', '14050002', '14050003']

[2020-06-30 22:53] tyler1218hatch opened #55 "oPBRC_UI and oPBRC_CR: Fields should be fixed"
Documentation [here](http://brat.riverscapes.xyz/BRATData/Outputs/WorkingWithBRATv3XOutputs.html) shows that the field oPBRC_UI should hold data about risk, with the categories (Negligible, Minor, Some, Considerable). And oPBRC_CR should hold data about restoration opportunties (Easiest, Straight Forward, Strategic). However, this attribute table shows that they are switched in sqlBRAT. They need

[2020-06-30 22:57] tyler1218hatch opened #56 "iPC_RailVB Values are 0 when they should be NULL"
In a watershed without Railroads in the valley bottom like North Fork John Day, all streams are given an iPC_RailVB value of 0. This is then symbolized and interpreted as every stream being right next to a railroad in the valley bottom. This could be fixed by assigning those streams NULL or negative values to distinguish them.

![image](https://user-images.githubusercontent.com/27084463/86185066-1

[2020-06-30 23:07] tyler1218hatch opened #57 "iPC_RoadVB values are too high in some watersheds."
In the North For John Day watershed, all iPC_RoadVB values are above 179,000 indicating that the closest road to any segment is still 179 km. away, which is not true. I'm not sure exactly what's happening here, or why it only happened in the North Fork John Day.
![image](https://user-images.githubusercontent.com/27084463/86185626-678c6300-bafc-11ea-90f9-e81329aae6fe.png)
![image](https://user-imag

[2020-07-01 18:09] tyler1218hatch commented on #57
@I believe this also happens with iPC_RailVB in some cases as well.

[2020-07-01 23:32] tyler1218hatch opened #58 "Historic Vegetation Raster is broken in some watersheds"
In HUC 14050001, the historic vegetation raster does not appear on the map, and is somehow missing all of its data. This results in many other effects, such as all Historic dam capacity and size being estimated as zero. This also affects all iterations of the raster, such as suitability.

![image](https://user-images.githubusercontent.com/27084463/86300618-0f6f6280-bbc9-11ea-8cc0-11940d4b5887.png)

[2020-07-01 23:33] tyler1218hatch opened #59 "Management Values are NULL in some watersheds"
In HUC 14050001, all management values are missing. This means they can't be symbolized, and affects other estimates down the line.

![image](https://user-images.githubusercontent.com/27084463/86300714-5fe6c000-bbc9-11ea-94cf-f9d24008bbea.png)
![image](https://user-images.githubusercontent.com/27084463/86300719-6412dd80-bbc9-11ea-866c-a1553e89f6d6.png)

[2020-07-01 23:36] tyler1218hatch opened #60 "Certain Rasters and Shapfiles are being cut off in certain watersheds"
In HUC 14050002 and 14050003, Historic Vegetation Rasters and Management Networks get completely cut off. This breaks many other values down the line as well.

![image](https://user-images.githubusercontent.com/27084463/86300814-b18f4a80-bbc9-11ea-861b-eabad211a1e5.png)
![image](https://user-images.githubusercontent.com/27084463/86300821-b522d180-bbc9-11ea-81fd-75d2b3fb47aa.png)

[2020-07-01 23:37] tyler1218hatch opened #61 "Suitability Raster has all values as 0"
In HUC 14050002, the only suitability values are zero. This could be because of the issue mentioned in #60, but it  could also be something else.
![image](https://user-images.githubusercontent.com/27084463/86300880-e69b9d00-bbc9-11ea-9140-d7596a3d9857.png)

[2020-07-01 23:41] tyler1218hatch opened #62 "Management Values are overwhelmingly "Potential Reservoir or Landuse""
In HUC 14050002, almost all of the segments are labeled as "Potential Reservoir or Land Use". This could be related to #60, or it could be a separate issue.
![image](https://user-images.githubusercontent.com/27084463/86301041-6c1f4d00-bbca-11ea-82a7-bec079f04d5f.png)

[2020-07-02 16:08] philipbaileynar commented on #56
Unfortunately, [ShapeFile fields cannot be set to NULL](https://support.esri.com/en/technical-article/000012852), so let's use -1 and update the symbology accordingly.

[2020-07-02 16:46] philipbaileynar commented on #60
@Cashe93 are we sure that the landfire bps raster you created entirely covers this watershed?

[2020-07-02 18:13] MattReimer commented on #56
Agreed. This is pretty ugly and we have to be careful our -1 values never get used for math but given all that I think it's a good convention to use.

[2020-07-02 20:41] Cashe93 commented on #60
@philipbaileynar, I believe so. HUCs 14050001, 14050002, & 14050003 all fall within the new LandFire BPS raster.
![image](https://user-images.githubusercontent.com/49880208/86407321-10100380-bc72-11ea-9bd0-c748ae7594b9.png)

[2020-07-03 00:20] tyler1218hatch opened #63 "Converting LANDFIRE 1.4.0 to 2.0.0: Mismatches need to be fixed."
There are 9 vegetation IDs where the +4000 crosswalk between 1.4.0 and 2.0.0 yields different names. We need to go through each of these and decide if they are actually the same thing. or if they should be considered different.

If we believe that the old name and new name are actually the same, we can just take the old suitability value and make that the new default. If they are meaningfully diff

[2020-07-03 00:24] tyler1218hatch opened #64 "Converting LANDFIRE 1.4.0 to 2.0.0: Some converted values are absent from the Google Sheet"
There are 22 vegetation IDs where the +4000 crosswalk between 1.4.0 and 2.0.0 yields a Vegetation ID that doesn't exist within the Google Sheet. For each of these, we need to decide if they should be added into the google sheet, or just not included. It's possible that these values don't exist in LANDFIRE 2.0.0, so there's no reason to add suitabilites if those values will never appear.

LANDFIRE

[2020-07-04 01:51] wally-mac commented on #64
@tyler1218hatch thank you for generating this table of the 22 vegetation IDs where the +4000 crosswalk between 1.4.0 and 2.0.0 yields a Vegetation ID that doesn't exist within the Google Sheet. I believe they  should be added into the google sheet,  If it ends up that these values don't exist in LANDFIRE 2.0.0, they could be removed later.

[2020-07-04 01:57] wally-mac commented on #63
@tyler1218hatch Thank you for making a table of the 9 vegetation IDs where the +4000 crosswalk between 1.4.0 and 2.0.0 yields different names. I think that all 9 of them should be considered different.

[2020-07-04 12:29] tyler1218hatch commented on #64
@wally-mac Sounds good. I agree that this seems like the most sensible action.

@philipbaileynar I don't have permission to add new rows to the VegetationTypes tab. Could you either give me the correct permissions, or add them yourself? They should be formatted so that it is a single copy paste.

[2020-07-04 12:40] tyler1218hatch commented on #63
@wally-mac Sounds good. Looking at the LANDFIRE 2.0.0 values, 6 of them already have defaults, while 3 did not (bold and italicized). Please look over these suitabilities (especially the bold ones, which I assigned a suitability to), and let me know if they look good. If so, I'll add them to the sheet. Thanks!

Veg ID | LANDFIRE 2.0.0 Name |  Proposed Suitability
-- | -- | --
7200 | [Recently Dist

[2020-07-08 18:03] MattReimer opened #66 "[NET_ATT] Important Changes"
* **Net Att UI**
  * Hard refresh and look for version `> 0.1.20` Lots of little improvements
  * Big client-side performance bump. Faster map scrolling etc.
* `net_att_catchments.py`
  * Figured out the optimal `ST_SImplify` to use ([See map](https://gist.github.com/MattReimer/2d2aacf053e39b802ca2a66e4e32b020)).
  * ST_Simplify is now only used on JSON final products, **never on union inputs**.

[2020-07-08 18:22] MattReimer opened #67 "[Brat Run] HUC 17030003 Failed due to missing CANOPY_PCT"
Cybercastor failed because we encountered a formula we don't have a CANOPY_PCT value:

[code]

We have an entry for it:
https://github.com/Riverscapes/sqlBRAT/blob/master/database/data/HydroParams.csv#L11

But there's no intersect table value.
https://github.com/Riverscapes/sqlBRAT/blob/master/database/data/intersect/WatershedHydroParams.csv

[2020-07-08 18:39] #53 closed

[2020-07-08 22:40] philipbaileynar commented on #67
@tyler1218hatch can you provide a definition of the CANOPY_PCT hydrologic parameter for 17030003 please? How is it calculated etc? We don't have this one precalculated.

[2020-07-08 22:42] tyler1218hatch commented on #67
From page 25 of this [document](https://pubs.usgs.gov/sir/2016/5118/sir20165118.pdf):
![image](https://user-images.githubusercontent.com/27084463/86977491-55d13e00-c142-11ea-83d7-295175f1a402.png)

Let me know if you need more details.

[2020-07-08 23:17] philipbaileynar commented on #67
We have % forest already calculated. @tyler1218hatch are you OK if we proceed and do a test run using % forest instead?

[2020-07-08 23:20] tyler1218hatch commented on #67
That's actually what I had it as when we ran it before. I'm sure the numbers would be similar enough that the results would be fine. This is really just a judgement call on how accurate we need to be with these equations. I say go ahead and try it. Maybe try to incorporate CANOPY_PCT at a later date.

[2020-07-08 23:42] tyler1218hatch opened #68 "Add JANMINT2K Hydrologic Attribute"
Some Oregon watersheds require an attribute that contains the mean minimum January temperature. This should be calculated just like the JANMAXT2K attribute, just using minimum instead. For more details, look at table 11 [here](https://pubs.usgs.gov/sir/2005/5116/pdf/sir2005-5116.pdf)

[2020-07-09 00:16] tyler1218hatch opened #69 "Add mean soil storage capacity Hydrologic Attribute"
Some Oregon watersheds require an attribute that contains the mean soil storage capacity. I'm not sure exactly how this would be calculated, but the source is the Natural Resources Conservation Service. For more details, look at Appendix F [here](https://pubs.usgs.gov/sir/2005/5116/pdf/sir2005-5116.pdf)

[2020-07-09 17:18] MattReimer commented on #67
It's re-running now. Should be up in an hour or two.

[2020-07-09 23:33] #66 closed

[2020-07-09 23:34] MattReimer commented on #67
all done. check the warehouse:
https://northarrowresearchlabs.github.io/riverscapes/#/BRAT_CRB/81daa2c6-d63e-45c0-89f0-04ecbe2a684b

[2020-07-09 23:34] #67 closed

[2020-07-10 16:11] MattReimer opened #70 "[VBET] Automation Errors for 5 HUCs"
[code]

[code]

[2020-07-13 14:41] #70 closed

[2020-07-13 21:28] philipbaileynar opened #71 "BRAT run versus display extent"
We run BRAT on a limited set of FCodes:

[code]

In other words, we get features in the BRAT output ShapeFiles for all these FCodes, but no others (e.g. coastline and pipelines are entirely absent from the output ShapFiles).

In this [video](https://youtu.be/hvh0yYJ_9SQ?t=2601), @joewheaton points out that the default views of BRAT results should be further constrained to just perennial and artifi

[2020-07-13 21:37] philipbaileynar opened #72 "BRAT - Include VBET as input feature class"
1. Copy the VBET input ShapeFile to BRAT in the Inputs folder.
1. Enhance RAVE business logic to make this layer available in ArcGIS.

[2020-07-14 13:20] joewheaton commented on #71
I like option 2 much better. You're right, it should be a display and query
for summary purposes issue, NOT where we run issue.
_____________________
Dr. Joseph M. Wheaton
435-554-1247 (direct) | http://www.joewheaton.org

On Mon, Jul 13, 2020 at 3:28 PM Philip Bailey <notifications@github.com>
wrote:

[2020-07-14 18:38] philipbaileynar commented on #55
I have fixed the switched risk and opportunities fields. I am going to leave this ticket open until we can review whether this fixes the range of values issue after a new run.

[2020-07-14 18:41] philipbaileynar commented on #60
I am now fairly certain that this cut-off was caused by BRAT being run with out-of-date historic vegetation raster. @MattReimer please ensure that going forward, BRAT runs use the latest BPS raster that includes the additional region that @Cashe93 appended.

I have downloaded the latest BPS raster from the CRB program National Project and it does include the extended region. So somewhere along the

[2020-07-14 18:42] MattReimer commented on #60
It's done. Next run should show this

[2020-07-14 19:04] philipbaileynar commented on #72
BRAT build now copies the VBET ShapeFile into the BRAT project folder structure and references it in the BRAT project.rs.xml file.

@MattReimer I am reassigning this issue to you to make sure that this "project" copy of the valley bottom is now used within the automation as the argument ShapeFile to BRAT Run.

[2020-07-14 20:33] philipbaileynar opened #73 "sqlBRAT does not handle Anabranches"
The old pyBRAT3 anabranch handler was capable of distinguishing mainstem from secondary anabranches. This helped route larger upstream discharges down the mainstem while leaving lower discharges on the secondary anabranches. As a result beaver dams could be supported on the secondary anabranches.

sqlBRAT does not handle anabranches and makes no attempt to distribute discharge down different chann

[2020-07-14 23:01] philipbaileynar commented on #73
I have started researching how NHDPlus data can support splitting upstream drainage area between mainstem and secondary Anabranches. I haven't completely solved the problem, but I am more convinced than ever that NHDPlus contains the necessary information to make this possible. Here's a quick video explaining:

https://www.youtube.com/watch?v=m7NlU3lvr0A

[2020-07-15 01:41] philipbaileynar opened #74 "Diversions Not Capturing all points"
In the conflict attributes calculation we intersect canals with reach polylines to determine the points of diversion. This is not working 100% and only finding some of the connections.

We suspect that this is because although the canal and reach geometries appear to touch, they are in fact a very small distance apart. This could simply be down to imprecision in the geometry coordinates failing to

[2020-07-15 17:09] philipbaileynar commented on #64
The vegetation type IDs @tyler1218hatch lists above do not exist within LandFire 2.0.0. They do not exist in the lookup data or the raster itself. This leads me to suspect that these vegetation types have either been deprecated or rolled into other classes.

@tyler1218hatch can you please pick one or two of the classes above and find some locations where they exist in LandFire 1.4 and then verify

[2020-07-15 17:22] #72 closed

[2020-07-15 18:39] philipbaileynar commented on #63
@tyler1218hatch I don't see your 4th July vegetation suitability values in git. Have you implemented these changes in the Google Sheet?

[2020-07-15 18:43] tyler1218hatch commented on #63
@philipbaileynar They're in there now. Should this issue be closed?

[2020-07-15 18:53] philipbaileynar commented on #68
@tyler1218hatch I am going to assign this back to you and ask you to obtain the JANMAX2K value and then enter it into git.

I say git because we have not implemented the ability to enter watershed hydrological parameters into Google Sheets. So these values need to go directly into git using a pull request please. (Note that this is where the Google Sheet values end up as well at the end of the day

[2020-07-15 18:54] philipbaileynar commented on #63
Thanks @tyler1218hatch these will get picked up next time @MattReimer runs the automation.

[2020-07-15 18:54] #63 closed

[2020-07-15 19:10] tyler1218hatch commented on #64
@philipbaileynar I looked at which changes from 1.4.0 to 2.0.0 were most common in these specific vegetation values.

Old Value (That doesn't exist in 2.0.0)| What it most commonly changed to
-- | --
Dry-mesic   Montane Douglas-fir Forest | Northern Rocky Mountain Dry-Mesic Montane   Mixed Conifer Forest
Abies grandis Forest Forest | Northern Rocky Mountain Dry-Mesic Montane Mixed Conifer Forest
I

[2020-07-15 22:35] philipbaileynar opened #76 "Historic vegetation suitability raster NoData value"
The historic vegetation suitability raster NoData value is showing up as -1. These values should be NoData and transparent when the raster is added to the map.

<img width="2157" alt="Screen Shot 2020-07-15 at 3 33 57 PM" src="https://user-images.githubusercontent.com/8645379/87606749-9ab02400-c6b0-11ea-8e46-ac02c6dd2826.png">

Note that the existing vegetation suitability raster is working OK:

<

[2020-07-16 15:12] MattReimer commented on #76
The issue here is that existing raster comes in with datatype int16 and historic comes in with uint16. We normalize this but historic has the nodata value set to be the greatest possible integer so that range gets halved when we convert and the nodata value becomes out of range. Should be fixed now.

[2020-07-16 16:23] philipbaileynar commented on #76
@MattReimer was the solution to change code or fix the raster in the National Project?

It would be nice if the rasters were all consistent data formats.

[2020-07-16 16:26] philipbaileynar commented on #64
That looks good @tyler1218hatch . At the risk of dragging this out further... do the LandFire 2.0.0 types that "these are commonly changed to", do they all have the appropriate suitabilities?

So you originally had "Dry-mesic Montane Douglas-fir Forest" needing a suitability of 2. Can you confirm if the "Northern Rocky Mountain Ponderosa Pine Woodland" has the value of 2.

Does it make sense what

[2020-07-16 21:25] #76 closed

[2020-07-17 00:36] tyler1218hatch commented on #64
Old   Value (That doesn't exist in 2.0.0) | Old Suitability | What it most commonly changed to | New Suitability
-- | -- | -- | --
Dry-mesic   Montane Douglas-fir Forest | 2 | Northern Rocky Mountain   Dry-Mesic Montane Mixed Conifer Forest | 2
Abies   grandis Forest Forest | 2 | Northern Rocky Mountain   Dry-Mesic Montane Mixed Conifer Forest | 2
Introduced   Upland Vegetation-Annual Grassland |

[2020-07-17 01:50] tyler1218hatch commented on #68
@philipbaileynar Just created the pull request, let me know what you think.

[2020-07-17 03:12] philipbaileynar commented on #64
Thanks for the detailed follow through. Closing this issue.

[2020-07-17 03:12] #64 closed

[2020-07-17 03:19] philipbaileynar commented on #69
Reassigning this to @tyler1218hatch for the same treatment as #68

[2020-07-17 03:20] philipbaileynar commented on #68
Looks fantastic @tyler1218hatch really appreciative of your ability to interpret and then execute these changes with very little supervision. Thank you.

As I mentioned in the pull request, I am waiting until a big batch clears through the automation tonight before I rebase the pull request. Thanks!

[2020-07-17 03:26] philipbaileynar commented on #61
This is now fixed.

The line down the middle was caused by an out of date historical raster problem.

You can ignore that the image below is all grey. This screenshot was taken in my ArcGIS 10.4 which can use the layer files for rasters created on newer versions even though they are saved as 10.4.

<img width="1097" alt="Screen Shot 2020-07-16 at 8 21 44 PM" src="https://user-images.githubusercont

[2020-07-17 03:26] #61 closed

[2020-07-17 03:28] philipbaileynar commented on #60
Not sure what happened. It was almost certainly an out of date historical raster. I can confirm that the entire extent is being covered now.

<img width="1097" alt="Screen Shot 2020-07-16 at 8 27 47 PM" src="https://user-images.githubusercontent.com/8645379/87745470-d1fefd80-c7a2-11ea-9bf9-76f03aaf53d9.png">

[2020-07-17 03:28] #60 closed

[2020-07-17 21:32] joewheaton commented on #73
This is really, really interesting. Very promising. Not that we want to do exactly what we did in pyBRAT, but we were getting "the right answer, reasonably consistently for the wrong reason'.
Just to clarify what pyBRAT did and why it worked:
- By right answer, I mean that primary anabranches had high stream power (actually too high, as they took _all_ the drainage area with no partitioning of flo

[2020-07-18 00:35] #68 closed

[2020-07-18 17:05] philipbaileynar opened #78 "BRAT needs to keep NHDPlusID attribute during segmentation"
We are starting to use the `NHDPlusID` attribute as a way of uniquely identifying reaches and tying disparate modeling results together.

We need to keep the `NHDPlusID` during BRAT segmentation. It needs to get stored in the BRAT SQLite database and written to the BRAT output ShapeFile. That last point, I'm unsure about, but it makes sense to make this important attribute available everywhere eve

[2020-07-24 14:16] #78 closed

[2020-07-28 17:52] philipbaileynar opened #82 "ShapeFile warning should be info message"
We have a really useful check in the code when comparing data areas of rasters with polygons. However, the message always prints as a warning, even when the message is that everything is OK and the raster data extent is 100% of the polygon area.

I suspect that there's some imprecision going on (99.99999997%) etc, but could we try to make this message an info instead of warning.

I often search RS

[2020-07-28 23:50] #82 closed

[2020-07-29 16:18] #69 closed

[2020-08-01 18:09] philipbaileynar opened #83 "Update EVT raster"
@MattReimer please integrate the updated EVT raster into our system. @tyler1218hatch has expanded it to include all of California, Nevada, Montana and the Dakotas.

`nardata/NationalEVT/us_200evt.tif`

[2020-08-04 15:27] MattReimer commented on #83
done

[2020-08-04 15:27] #83 closed

[2020-08-07 20:25] philipbaileynar opened #84 "Update Layer Files for Risk and Opportunities"
Until recently sqlBRAT had the conservation risk and opportunities data values reversed in the BRAT output ShapeFile. See issue #55

I have fixed this issue and now the correct values are being written to the correct fields:

* `oPBRC_UI` = Risks (undesirable impacts)
* `oPBRC_UD` = Limitations
* `oPBRC_CR` = Opportunities (conservation and restoration)

Please revisit the layer files and ensure t

[2020-08-07 20:41] philipbaileynar commented on #71
Thinking about this further I don't like either option shown above.

Option 1 sucks because producing 2 sets of ShapeFiles is obviously a non-starter. Data duplication should be the last resort!

Option 2 using the `IsPeren` is somewhat better but still requires some fiddly symbology configuration that is buried in the layer file and hard to decipher.

## Option 3 - Query Definitions

Another opti

[2020-08-07 21:02] philipbaileynar opened #85 "Review Layer Files for Fields that can now be -1"
We recently implemented the change that numeric fields in the BRAT output ShapeFile now store -1 where the SQLite database has zero. This was flagged up when we noticed HUCs with no railways defaulting the `iPC_Rail` field to zero when there are no railways within the HUC (#56).

Please review each layer file for BRAT make sure that -1 values appear in a sensible way. For some fields it might make

[2020-08-11 22:05] Cashe93 commented on #84
Hey @philipbaileynar. It looks like the symbology is correct but the names for the symbology are switched. Does this task simply entail that I change the names of the layer files (oPBRC_CR to oPBRC_UI and vice versa) and then update the business logic?

[2020-08-11 22:48] philipbaileynar commented on #84
Yes, that's correct @Cashe93

But I fear that when you switch the field that the symbology uses, ArcGIS will clear the individual symbols and you will need to start from scratch. Super annoying. Maybe I'm wrong?

Give it a go and let me know how you get on.

[2020-08-11 22:52] Cashe93 commented on #84
Sounds good @philipbaileynar. I'll give it a go.

[2020-08-12 00:03] Cashe93 commented on #84
@philipbaileynar it appears to have worked. Let me know if anything needs to be changed.

[2020-08-12 19:19] Cashe93 commented on #84
@philipbaileynar, scratch that. I see the issue now. Stand by.

[2020-08-14 00:42] tyler1218hatch opened #86 "Error when installing requirements.txt"
I've tried installing all of the libraries in requirements.txt so I can run raster_vat.py. However, I keep running into errors, and I could use some help figuring it out. Installing libraries is not my strong suit.

It seems that GDAL is having trouble installing:

[code]

Any help would be appreciated.

[2020-08-17 15:58] MattReimer commented on #86
Hey Tyler,

Everyone has trouble with this stuff. That's because package management across platforms in python sucks.

First off you **must** use python3 for this. I assume you are but it's worth mentioning.

I highly recommend you use a virtualenv for your deployments. This allows you to keep all your packages separated and use different versions of packages and even python itself across differen

[2020-08-25 17:43] MattReimer commented on #86
I'm closing this for now.  Please re-open if you're still having trouble.

[2020-08-25 17:43] #86 closed

[2020-08-25 18:00] philipbaileynar commented on #84
Closing issue because this fix was implemented in latest version of RAVE.

[2020-08-25 18:00] #84 closed

[2020-08-25 18:10] philipbaileynar commented on #59
This was caused by a long chain of problems. I think it all started with the historic vegetation raster not covering the extent of this HUC. THis caused invalid historical capacity, which then broke many of the management/conservation logic rules.

The historic veg raster has been extended by @tyler1218hatch to cover the US states that we will run most often. We also updated the logic to write -1

[2020-08-25 18:10] #59 closed

[2020-08-25 18:12] philipbaileynar commented on #58
@tyler1218hatch increased the historic veg raster to cover the watersheds that we will run most often. This should be fixed now. We also write -1 for invalid fields, making it easier to spot problems.

[2020-08-25 18:12] #58 closed

[2020-08-28 17:51] philipbaileynar opened #88 "Update Network Attribute Vector Tiles for Montana and Dakotas"
Please update the network attribute tool with the vector tiles for all reaches in Montana and the Dakotas.

The postgres database already includes all the VPUs for the three states. The query to retrieve the geometries as GeoJSON is shown below. This can be filtered by VPU with a simple where clause:

All reaches in database:

[code]

All reaches for a single VPU:

[code]

[2020-08-31 22:16] #88 closed